.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    
}
.label {
    font-size: 20px;
    margin-bottom: 15px;
    
}
.input {
    margin-left: 15px;
    cursor: pointer;
    border-radius: 3px;
}
.btn {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}
.btn:hover {
background-color: blue;
color: aliceblue;
}
